<div class="card">
  <img
    src="{{ 'assets/images/' + book.img + '.jpg' }}"
    class="card-img-top books-image"
    alt="..."
  />
  <div class="card-body">
    <h6 class="card-title">{{ book.name }}</h6>
    <h6 class="card-subtitle mb-1 text-muted">{{ book.category }}</h6>
    
    <p class="card-text">Quantidade: {{ book.quantity }}</p>
    <p class="card-text">Valor: {{ book.price | currency: "BRL" }}</p>

    <a href="#" class="card-link">Detalhes</a>
    <a href="#" class="card-link">Comprar</a>
  </div>
</div>
