<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Filtros</h5>
    <h6 class="card-subtitle mb-2 text-muted">Escolha a faixa de valores</h6>
    <form>
      <div class="form-group">
        <label for="de">De</label>
        <input type="number" id="de" class="form-control" />
      </div>

      <div class="form-group">
        <label for="ate">Até</label>
        <input type="number" id="ate" class="form-control" />
      </div>
      <hr />
      <button class="card-link">Aplicar filtro</button>
    </form>
  </div>
</div>
